/*Estios referente a parte do fundo do site*/
body{
    background-color:rgb(18, 18, 49)
}
ul {
    list-style:none;
    margin-bottom: 50px;
  }
/*estilos referentes ao inicio do site*/
section{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card{
flex: 1;
margin: 10px;
background-color: aliceblue;
border: 1px solid blanchedalmond;
border-radius: 5px;
padding: 5px;
width: 200px;
height: 150px;
text-align: center;
color: rgb(18, 9, 104);
font-size: 16px;
}

.card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

article{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
